<div class="my-new-post">
  <div *ngIf="!_errorMsg">
    <h5>Create a New Post</h5>
    <form #postForm="ngForm">
      
      <div class="post-text">
        <label for="title" class="">Title</label>
        <input id="title" type="text" class="" required
          [(ngModel)] = "model.title"
          ngControl = "title" #title="ngForm"
        >
        <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
          Title is required
        </div>
      </div>
      
      <div class="post-textarea">
        <label for="text" class="">Text</label>
        <textarea type="text" class="" rows="5" required
          [(ngModel)] = "model.text"
          ngControl = "text" #text="ngForm"
        ></textarea>
        <div [hidden]="text.valid || text.pristine" class="alert alert-danger">
          Text is required
        </div>
      </div>
      
      <div class="post-select">
        <label for="power">Post Type</label>
        <select class="" required
          [(ngModel)] = "model.type"
          ngControl = "type" #type="ngForm"
        >
          <option *ngFor="#postType of _postTypes" [value]="postType">{{postType}}</option>
        </select>
        <div [hidden]="type.valid || type.pristine" class="alert alert-danger">
          Type is required
        </div>
      </div>

      <div class="post-text">
        <label for="group_of_groups" class="">Group Of Groups</label>
        <input id="group_of_groups" type="text" class="" required
          [(ngModel)] = "model.group_of_groups"
          ngControl = "group_of_groups" #group_of_groups="ngForm"
        >
        <div [hidden]="group_of_groups.valid || group_of_groups.pristine" class="alert alert-danger">
          Group of groups is required
        </div>
      </div>
          
      <div class="post-text">
        <label for="group" class="">Group</label>
        <input id="group" type="text" class="" required
          [(ngModel)] = "model.group"
          ngControl = "group" #group="ngForm"
        >
        <div [hidden]="group.valid || group.pristine" class="alert alert-danger">
          Group is required
        </div>
      </div>
      
      <div class="post-text">
        <label for="group" class="">GoG/Group</label>
        <input id="group" type="text" class="" required
          [(ngModel)] = "model.gogslashgroup"
          ngControl = "gogslashgroup" #gogslashgroup="ngForm"
          (keyup)="search(gogslashgroup.value)"
        >
        <div [hidden]="gogslashgroup.valid || gogslashgroup.pristine" class="alert alert-danger">
          Group is required
        </div>
      </div>
      
<ul>
<li *ngFor="#item of itemsV1 | async" (click)="selectGogSlashGroup(item)">{{item}}</li>
<li *ngFor="#item of items" (click)="selectGogSlashGroup(item.parent_group.name+'/'+item.name)">{{item.parent_group.name}}/{{item.name}}</li>
</ul>

      
      <button (click)="onSubmit($event)" class="btn btn-default" [disabled]="!postForm.form.valid">Submit</button>
      <button (click)="goBack()" class="btn btn-default">Back</button>
    </form>
  </div>
  <div *ngIf="_errorMsg">
    {{_errorMsg}}
    <button (click)="goBack()" class="btn btn-default">Back</button>
  </div>
</div>