.posts {
  margin-top: 0px;
  padding-top: 0px;
}
.posts .mdl-list__item--three-line {
  height: 100%;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.posts .mdl-list__item-primary-content {
  height: 100%;
}
.posts .mdl-list__item-text-body {
  height: 100%;
}
.posts .mdl-list__item-icon {
  margin-right: 0px;
  font-size: 20px;
}
.posts .toolbox {
  font-size: 10px;
}