<div>
  <ul class="posts demo-list-three mdl-list">
    <li *ngFor="#post of posts"
      [class.selected]="post === selectedPost"
      (click)="onSelect(post)"
      class="mdl-list__item mdl-list__item--three-line">
      <span class="mdl-list__item-primary-content">
        <!-- <i class="material-icons mdl-list__item-avatar">person</i> -->
        <span>{{post.title}}</span>
        <span class="mdl-list__item-text-body">
          {{post.text}}  
        </span>
        
        <span class="mdl-list__item-text-body">
          <div class="toolbox">
            <div>
              <i class="material-icons mdl-list__item-icon">person</i>
              {{post.postedby.username}} | 12 days ago | {{post.group.url}}
            </div>
            <div>
              {{post.upvotes}} Upvote | {{post.downvotes}} Downvote | {{post.comments.length}} Comments
            </div>
          </div>
         </span>
      </span>
      <!--
      <span class="mdl-list__item-secondary-content">
        <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
      </span>
      -->
    </li>
  </ul>
</div>
<div *ngIf="selectedPost">
<h2>
  {{selectedPost.title | uppercase}} is my post
</h2>
<button (click)="gotoDetail()">View Details</button>
</div>