.demo-card-wide.mdl-card {
  /* width: 512px; */
  width: 100%
}
.demo-card-wide > .mdl-card__title {
  /*
  color: #fff;
  height: 176px;
  */
  /*
  background: url('images/welcome_card.jpg') center / cover;
  */
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
ul.comment-list.level-1 {
  list-style-type: none;
  margin: 20px;
  padding: 0px;
}
ul.comment-list.level-1 > li {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 15px;
}
ul.comment-list.level-1  i.material-icons {
  float: left;
  margin-right: 10px;
}
ul.comment-list.level-2  {
  list-style-type: none;
  margin: 20px 0 0 50px;
  padding: 0px;
}
ul.comment-list.level-3  {
  list-style-type: none;
  margin: 20px 0 0 50px;
  padding: 0px;
}
.view-post.mdl-card {
  min-height: 0px;
}
.view-post .mdl-card__supporting-text {
  padding-top: 0; 
}
.view-post .mdl-card__title h2 {
  font-size: 18px;
}
.view-post .mdl-button {
  font-size: 12px;
}