
<div *ngIf="post">
  <!--
  <h2>{{post.title}}</h2>
  <div>
    <label>id: </label>{{post.id}}</div>
  <div>
    <label>title: </label>
    <input [(ngModel)]="post.title" placeholder="title" />
    <input [(ngModel)]="post.text" placeholder="text" />
    <input [(ngModel)]="post.type" placeholder="type" />
  </div>
  <button (click)="goBack()">Back</button>
  -->
  <div class="view-post demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{{post.title}}</h2>
    </div>
    <div class="mdl-card__supporting-text">
      {{post.text}}
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
       <i class="material-icons mdl-list__item-icon">person</i> {{post.postedby.username}} 
      </a>
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Edit 
      </a>
      <a (click)="upVotePost(post.id)" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      {{post.upvotes}} Vote up
      </a>
      <a (click)="downVotePost(post.id)" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      {{post.downvotes}} Vote down
      </a>
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      {{post.group.name}} 
      </a>
      <a (click)="goBack()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      back 
      </a>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
      </button>
    </div>
  </div>

  <div> <!-- comments start -->
    <!-- Replies to Post -->
    <ul class="comment-list level-1">
      <li *ngFor="#comment1 of post.comments" class="">
        <div class="comment">
          <i class="material-icons mdl-list__item-icon">person</i> {{comment1.postedby.username}}
          <div class="">
            {{comment1.text}}
          </div>

        </div>
        <!-- Replies to comments (Level 2) -->
        <ul *ngIf="comment1.comments && comment1.comments.length > 0" class="comment-list level-2">
          <li *ngFor="#comment2 of comment1.comments" class="">
            <div class="comment">
              <i class="material-icons mdl-list__item-icon">person</i> {{comment2.postedby.username}}
              <div class="">
                {{comment2.text}}
              </div>
            </div>
            <!-- Replies to reply (Level 3) -->
            <ul *ngIf="comment2.comments && comment2.comments.length > 0" class="comment-list level-3">
              <li *ngFor="#comment3 of comment2.comments" class="">
                <div class="comment">
                  <i class="material-icons mdl-list__item-icon">person</i> {{comment3.postedby.username}}
                  <div class="">
                    {{comment3.text}}
                  </div>
                </div>
                
              </li>
            </ul>
    
          </li>
        </ul>
        
      </li>
    </ul>
  </div>  <!-- end comments -->
  
</div>  <!-- end top div -->
