
<div *ngIf="post">

  <my-post [post]="post" [type]="postTemplateType"></my-post>
  
  <!-- split it into comment-list component if need to reuse -->
  <div> <!-- comments start -->
    <!-- Replies to Post -->
    <ul class="comment-list level-1">
      <li *ngFor="#comment1 of post.comments" class="">
        <my-comment [comment]="comment1"></my-comment>
        
        <!-- Replies to comments (Level 2) -->
        <ul *ngIf="comment1.comments && comment1.comments.length > 0" class="comment-list level-2">
          <li *ngFor="#comment2 of comment1.comments" class="">
            <my-comment [comment]="comment2"></my-comment>

            <!-- Replies to reply (Level 3) -->
            <ul *ngIf="comment2.comments && comment2.comments.length > 0" class="comment-list level-3">
              <li *ngFor="#comment3 of comment2.comments" class="">
                <my-comment [comment]="comment3"></my-comment>
                
              </li>
            </ul>
    
          </li>
        </ul>
        
      </li>
    </ul>
  </div>  <!-- end comments -->
  
</div>  <!-- end top div -->
