<div class="app-component">
  <div class="container">
    
      <div class="row">
        <div class="col-xs-6">
          <a [routerLink]="['GroupOfGroupsPostList']">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>YOLO!
          </a>
        </div>
        <div class="col-xs-6 user-panel-container">
          <my-user-authentication-panel></my-user-authentication-panel>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          <router-outlet></router-outlet>
        </div>
      </div>
      

  </div>
</div>