html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.app-component .mdl-layout__header-row {
  padding: 0 16px;
}

.app-component .mdl-layout-title a {
  color: white;
  text-decoration: none;
}

.app-component .mdl-layout-title i {
  vertical-align: text-bottom;
  padding-right: 6px;
}