.my-view-group .demo-card-wide.mdl-card {
  width: 100%;
  min-height: 100%;
}
/*
.demo-card-wide > .mdl-card__title {

  color: #fff;
  height: 176px;
  background: url('images/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
*/