<div *ngIf="group">
  <div class="my-view-group">
    
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{group.parent_group.name}}/{{group.name}}</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a (click)="gotoNewPostForm()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Create a New Post
        </a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button>
      </div>
    </div>
    <my-post-list [posts]="groupPosts" [postTemplateType]="postTemplateType"></my-post-list>
</div>  <!-- end top div -->
